---
import Layout from '../layouts/Layout.astro';
import data from '../../public/data.json';
import '../../assets/scss/astro-ecommerce.scss';
import Navbar from '../components/navbar';
import UpperNavbar from '../components/store/upperNavbar';
import CardProduct from '../components/products/cardProduct';
import ShoppingCart from '../components/cart/shoppingCart';
import StoreDoubleColumn from '../components/store/storeDoubleColumn';
import CategoryFilters from '../components/products/categoryFilters';
import { GetProductList } from '../Network/API';

const product_categories = await GetProductList();
---


<Layout title="Product">
	<main>
    <Navbar />

    <div class="mt-5">  
              
        <CategoryFilters 
          category={product_categories}
          title="Almond"          
        />
      </div>
    {/*
    <div class="container mt-5">
      <div className="row" style={{}}>
        {data.products.map((product) => (
          <div key={product.title} className="col-12 col-md-6 col-lg-4 mb-4">
            <CardProduct
              thumb_src={product.thumb_src}
              thumb_alt={product.thumb_alt}
              color={product.color}
              colors={product.colors}
              title={product.title}
              description={product.description}
              price={product.price}
              position="center"
            />
          </div>
        ))}
      </div>
      <hr class="dark horizontal my-5" />
      <StoreDoubleColumn />
    </div>
    */}
  </main>

</Layout>