---
import Layout from '../layouts/Layout.astro';
import data from '../../public/data.json';
import '../../assets/scss/astro-ecommerce.scss';
import CardCategory from '../components/products/cardCategory';
import ProductFeature from '../components/products/productFeature';
import Navbar from '../components/navbar';
import Footer from '../components/footer';
import TestimonialsFade from '../components/promo/testimonialsFade';
import PromoSectionLarge from '../components/promo/promoSectionLarge';
import { GetProductList } from '../Network/API';

const product_categories = await GetProductList();
//console.log('product list',(product_categories.data))
const images_new =  [
        {
          "src": "https://www.acinuts.com/intime_images/ACI_1.jpeg",
          "alt": "first_image"
        },
        {
          "src": "https://www.acinuts.com/intime_images/ACI_1.jpeg",
          "alt": "second_image"
        },
        {
          "src": "https://www.acinuts.com/intime_images/ACI_49.jpeg",
          "alt": "third_image"
        },
        {
          "src": "https://www.acinuts.com/intime_images/ACI_3.jpeg",
          "alt": "fourth_image"
        }
      ]
---

<Layout title="Landing Page">
	<main>
    <Navbar />
    <PromoSectionLarge 
      title={"Welcome to ACINUTS"}
      full_description={"100% Fresh & Health Foods"}  
      pageHeaderBgImg={"../images/bg2.jpg"}
      pageHeaderMinVh="90vh"
    />
    <div class="container my-5">
      <div class="d-block text-center mb-5">
        <h3>Shop by category</h3>
        {/*
        <a class="text-dark font-weight-bold" href="#">Browse all categories &#62;</a>
        */}
      </div>
      <div class="row mb-5">
        {product_categories?.data?.slice(0, 20).map(category => 
          <div class="col-md-6 col-lg-3">
            <CardCategory
              thumb_src = {category.ImageURL}
              collection = {category.collection}
              title = {category.groupname}
            />
          </div>
        )}
      </div>

    <PromoSectionLarge 
      title="Dry Fruits"
      full_description={'Crunch into health, taste the purity! Handpicked premium nuts, straight from nature.'} 
      pageHeaderBgImg={"../images/bg2.jpg"} 
      pageHeaderMinVh="50vh"
      pageHeaderRadius="1rem"
    />
    <div class="my-5">
      <ProductFeature
        title="Product Features"
        images={images_new}
        full_description="Why limit yourself? Break free from ordinary snacking! Discover the finest, crunchiest, and healthiest nuts—because great taste knows no boundaries!"
        featuresDetails={data.products[0].featuresDetails}
      />
    </div>
    <div class="mt-5 mb-10">
      <TestimonialsFade 
        pageHeaderBgImg={"https://images.unsplash.com/photo-1519642918688-7e43b19245d8?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2676&q=80"} 
        pageHeaderMinVh="50vh"
      />
    </div>
    
    <Footer />

    </div>
  </main>

</Layout>